<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/main.html">
    <div layout:fragment="siteContent">
        <div th:if = "${tovar!=null}">
            <table class="table table-striped">
                <tbody>
                <tr th:each="cat : ${tovar.categories}">
                    <form th:action="@{'/removecategory'}" method="post">
                        <input type="hidden" th:value="${tovar.id}" name="id">
                        <input type="hidden" th:value="${cat.id}" name="category_id">
                        <td th:text = "${cat.name + ' - ' + cat.code}"></td>
                        <td width="5%" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                            <button class="btn btn-danger btn-sm"> - </button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                <tbody>
                <tr th:each="cat : ${categories}">
                    <form th:action="@{'/assigncategory'}" method="post">
                        <input type="hidden" th:value="${tovar.id}" name="id">
                        <input type="hidden" th:value="${cat.id}" name="category_id">
                        <td th:text = "${cat.name + ' - ' + cat.code}"></td>
                        <td width="5%">
                            <button class="btn btn-success btn-sm"> + </button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
            <form th:action="@{'/saveitem'}" method="post">
                <input type="hidden" name="id" th:value="${tovar.id}">
                <div class="mt-2">
                    <label>NAME : </label>
                    <input type="text" name="name" class="form-control mt-2" required th:value="${tovar.name}">
                </div>
                <div class="mt-2">
                    <label>DESCRIPTION : </label>
                    <textarea class="form-control mt-2" required name="description" th:text="${tovar.description}"></textarea>
                </div>
                <div class="mt-2">
                    <label>PRICE : </label>
                    <input type="number" name="price" class="form-control mt-2" required th:value="${tovar.price}">
                </div>
                <div class="mt-2">
                    <label>AMOUNT : </label>
                    <input type="amount" name="amount" class="form-control mt-2" required th:value="${tovar.amount}">
                </div>
                <div class="mt-2">
                    <label>BRAND : </label>
                    <select class="form-select mt-2" name="brand_id">
                        <option th:each="br : ${brands}" th:text="${br.name + ' / ' + br.country}" th:value="${br.id}" th:selected="${br.id==tovar.brand.id}"></option>
                    </select>
                </div>
                <div class="mt-3" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                    <button class="btn btn-success">SAVE ITEM</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteItemModal">
                        DELETE ITEM
                    </button>
                </div>

            </form>

            <div class="modal fade" id="deleteItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/deleteitem'}" method="post">
                            <input type="hidden" name="id" th:value="${tovar.id}">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Delete Item</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                <button class="btn btn-danger">YES</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:if = "${tovar==null}">
            <h1 class="text-center">ITEM NOT FOUND</h1>
        </div>
    </div>
</html>